/* This only seems to work on Chrome (as of 2020-04-30), despite a couple Stack
 * Overflow folks saying it should work on other browsers.
 */

input.password-with-suggestions {
  text-security: disc;
  -ms-text-security: disc;
  -webkit-text-security: disc;
  -moz-text-security: disc;
}